@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

:root {
  --background: #d9d1be;
  --blue: #1765a3;
  --red: #e61a23;
  --yellow: #f6b900;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

body {
  background-color: var(--background);
  font-family: 'Baumans', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  padding-top: 3rem;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 2rem 1rem;
}

.tagline {
  font-size: 1.2rem;
  margin: 0 2rem;
}

.grid {
  margin: 2rem 4rem;
  width: 160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "one two"
                    "three four"
                    "three five"
                    "six-a six-b"
                    ". six-b"
                    ". six-b"
                    "eight nine";
  grid-auto-rows: 65px; 
}

.block {
  /* border: 7px solid; */
}

.block-one {
  /* border: none; */
  grid-area: one;
  border-right: none;
  border-bottom: none;
  /* width: 100%; */
  /* background: rgb(182, 126, 145); */
  /* outline: 1px solid; */
  background: black;
}

.block-two {
  grid-area: two;
  background: var(--red);;
}

.block-three {
  grid-area: three;
  background: black;
}

.block-four {
  grid-area: four;
  background: var(--red);;
  /* border-left: none; */
}

.block-five {
  grid-area: five;
  background: var(--blue);
  /* border-bottom: none; */
}

.block-six-a {
  grid-area: six-a;
  background: var(--yellow);
  /* border-bottom: none;
  border-right: none; */
}

.block-six-b {
  grid-area: six-b;
  background: var(--yellow);
  /* border-left: none;
  border-bottom: none; */
}

.block-seven {
  grid-area: seven;
  background: var(--red);
}
/* .block-seven-top {
  grid-area: seven-top;
}

.block-seven-bottom {
  grid-area: seven-bottom;
} */

.block-eight {
  grid-area: eight;
  background: var(--blue);
  /* border-top: none; */
}

.block-nine {
  grid-area: nine;
  background: var(--yellow);
  background: var(--red);
}

.block-ten {
  grid-area: ten;
}

/* .block-eleven {
  grid-area: eleven;
}

.block-twelve {
  grid-area: twelve;
}

.block-thirteen {
  grid-area: thirteen;
} */

@media (min-width: 400px) {
  .grid {
    width: 230px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-areas: ". one two"
                        "three four ."
                        "three . five"
                        ". six-a six-b"
                        "seven seven six-b"
                        ". eight six-b"
                        ". . nine"; */
    grid-template-areas: ". one two"
                        "three four five"
                        "three six-a six-b"
                        "seven seven six-b"
                        ". eight six-b"
                        ". . nine";
    grid-auto-rows: 70px; 
  }
}

@media (min-width: 678px) {
  .grid {
    width: 320px;
    grid-auto-rows: 78px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". one two five"
                         "three four . ."
                         "three six-a six-a ."
                         "seven seven six-b nine"
                         ". eight six-b .";
  }

  /* .block-two {
    border-right: none;
  }

  .block-three {
    border-right: none;
    border-bottom: none;
  }

  .block-four {
    border-bottom: none;
    border-left: 7px solid;
  }

  .block-five {
    border-bottom: 7px solid;
  }

  .block-six-a {
    border-right: 7px solid;
  }

  .block-six-b {
    border-top: none;
    border-bottom: 7px solid;
  }

  .block-nine {
    border-left: none;
  } */
}

@media (min-width: 800px) {
  .grid {
    width: 460px;
    grid-auto-rows: 88px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". one two five ."
                         "three four six-a six-a ."
                         "three . .six-b nine"
                         "seven seven eight six-b .";
  }

}

    /* grid-template-areas: "one two"
                       "three four"
                       "three five"
                       "six-a six-b"
                       ". six-b"
                       ". six-b"
                       "eight nine"; */